<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/admission.css" />
  </head>
  <body>
    <section class="header">
      <section class="container">
          <div class="filter">
            <a href="/index"><i class="fas fa-angle-double-left"></i>  Back</a>
          </div>
           
         
        <header>Full Details</header>
          
       
         
          <div class="mydata">
            <label>Full Name</label>
            <p >{{find.name}}</p>
          </div>

          <div class="mydata">
            <label>Email Address</label>
            <p>{{find.email}}</p>
          </div>

          
            <div class="mydata">
              <label>PhoneNumber</label>
              <p>{{find.number}}</p>
            </div>

            <div class="mydata">
              <label>Course</label>
              <p>{{find.course}}</p>
            </div>
             
          <div class="mydata">
            <label>Gender</label>
            <p>{{find.gender}}</p>     
          </div>

          <div class="mydata">
            <label>Address</label>
            <p>{{find.address}}</p>
          </div>

        <div class="mydata">
            <label>City</label>
            <p>{{find.city}}</p>
          </div>

          <div class="mydata">
            <label>State</label>
            <p>{{find.state}}</p>
          </div>


          
          
      
      </section>
    </section>
  </body>
</html>