
<!-- include header -->
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                       <a class="namestyle" href="/newuni">
                          <div class="name"><span style="color:#16db93"> Vel's</span> University</div>
                         </a>
                    </div>
                    
                </div>
            </nav>
        </header>
   

    <!-- /Header -->
    
    <p class="myhead"> User Account info </p>
            {{#if user}}
            <p class={{type}}>Welcome {{user.name}},</p>
            {{/if}}

<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="myback">
            <a href="/"><i class="fas fa-angle-double-left"></i>  Back</a>
          </div>
            {{!-- <div class="box-nav d-flex justify-between">
                <a href="/adduser" class="border-shadow">
                    <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                </a>
            </div> --}}

             <div class="myicons">
                <div class="icon"><i class="fas fa-pencil-alt"> = Update</i></div>
                <div class="icon"><i class="fa fa-trash"> = Delete</i> </div>
                <div class="icon"><i class="fa fa-info-circle"> = Full Details</i></div>       
                
            </div>

            <!-- form handling -->
            <form action="" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>NO</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Course</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {{#each getUser}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{name}}</td>   
                                <td>{{email}}</td>
                                <td>{{gender}}</td>
                                <td>{{course}}</td>
                                <td>
                                    <a href="/updateuser?id={{id}}"  class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                    <a href="/auth/delete?id={{id}}" class="btn border-shadow delete">
                                        <span class="text-gradient"><i class="fa fa-trash"></i></span>
                                    </a>
                                     <a href="/info?id={{id}}" class="btn border-shadow delete">
                                        <span class="text-gradient"><i class="fa fa-info-circle"></i></span>
                                    </a>
                                </td>
                                
                                
                            </tr>
                        {{/each}}
                 
                        
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<!-- 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script> -->
</body>
</html>
<!-- /include footer -->